<div class="row">
  <div class="col-md-10">
    <h1>REGISTRO DE COMPRAS</h1>
  </div>
  <div class="col-md-2">
    <input type="date" class="form-control">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="form-group row">
      <label for="proveedor" class="col-sm-2 col-form-label">Proveedor</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="proveedor">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 table-responsive">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar producto">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
    </div>
    <table class="table table-bordered mt-2">
      <thead class="thead-light">
        <tr>
          <th scope="col">Cod</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Producto</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td> <input type="text" class="form-control p-0 text-center"></td>
          <td>Aceite de oliva extra virgen 100ml - Bello horizonte</td>
          <td><button class="btn btn-success">+</button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td> <input type="text" class="form-control p-0 text-center"></td>
          <td>Aceite de oliva extra virgen 100ml - Bello horizonte</td>
          <td><button class="btn btn-success">+</button></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td> <input type="text" class="form-control p-0 text-center"></td>
          <td>Aceite de oliva extra virgen 100ml - Bello horizonte</td>
          <td><button class="btn btn-success">+</button></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td> <input type="text" class="form-control p-0 text-center"></td>
          <td>Aceite de oliva extra virgen 100ml - Bello horizonte</td>
          <td><button class="btn btn-success">+</button></td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td> <input type="text" class="form-control p-0 text-center"></td>
          <td>Aceite de oliva extra virgen 100ml - Bello horizonte</td>
          <td><button class="btn btn-success">+</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-8 table-responsive">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Cod</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Descripción</th>
          <th scope="col">Pre. U.</th>
          <th scope="col">Dcto</th>
          <th scope="col">Sub-total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">001</th>
          <td>1</td>
          <td>Aceite de oliva 100 ml - Bello horizonte</td>
          <td>16.50</td>
          <td>00.00</td>
          <td>16.50</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
<!-- indicadores -->
<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-1 text-right">Dcto</div>
  <div class="col-md-1 p-0"><input type="text" class="form-control w-100 p-0 text-center"></div>
  <div class="col-md-1 text-right">Sub-total</div>
  <div class="col-md-1 p-0"><input type="text" class="form-control w-100 p-0 text-center"></div>
</div>
<div class="row mt-2">
  <div class="col-md-8"></div>
  <div class="col-md-1 text-right">Incremento</div>
  <div class="col-md-1 p-0"><input type="text" class="form-control w-100 p-0 text-center"></div>
  <div class="col-md-1 text-right">IGV</div>
  <div class="col-md-1 p-0"><input type="text" class="form-control w-100 p-0 text-center"></div>
</div>
<div class="row mt-2">
  <div class="col-md-7"></div>
  <div class="col-md-2 text-right">
    <h5>IMPORTE TOTAL</h5>
  </div>
  <div class="col-md-3 p-0"><input type="text" class="form-control w-100 p-0 text-center"></div>
</div>
<div class="row mt-4">
  <div class="col-md-2"><button class="btn btn-danger btn-block">Cancelar</button></div>
  <div class="col-md-2"><button class="btn btn-primary btn-block">Nueva Compra</button></div>
  <div class="col-md-2"><button class="btn btn-warning btn-block" routerLink="/lista-compras">Lista de Compras</button></div>
  <div class="col-md-4"></div>
  <div class="col-md-2"><button class="btn btn-success btn-block">Registrar Compra</button></div>
</div>