<div class="row animate__animated animate__fadeIn animate__delay-0.5s">
    <div class="col-md-4 shadow p-3 mb-5 bg-white rounded">
      <h4 class="text-center">Operaciones</h4>
      <hr>
      <ul class="list-group">
        <li class="list-group-item p-1">
          <button type="button" class="btn btn-light btn-block" routerLink="/ventas">Ventas</button>
        </li>
        <li class="list-group-item p-1">
          <button type="button" class="btn btn-light btn-block" routerLink="/compras">Compras</button>
        </li>
      </ul>
    </div>
    <div class="col-md-4 shadow p-3 mb-5 bg-white rounded">
      <h4 class="text-center">Almacen</h4>
      <hr>
      <ul class="list-group">
        <li class="list-group-item p-1">
          <button type="button" class="btn btn-light btn-block" routerLink="/categorias">Categorias</button>
        </li>
        <li class="list-group-item p-1">
          <button type="button" class="btn btn-light btn-block" routerLink="/articulos">Gestión de artículos</button>
        </li>
        <li class="list-group-item p-1">
          <button type="button" class="btn btn-light btn-block" routerLink="/altaProductos">Gestión de productos</button>
        </li>
        <li class="list-group-item p-1">
          <button type="button" class="btn btn-light btn-block" routerLink="/lista-productos">Lista de productos</button>
        </li>
        <li class="list-group-item p-1">
          <button type="button" class="btn btn-light btn-block" routerLink="/movimientos">Movimientos</button>
        </li>
        <li class="list-group-item p-1">
          <button type="button" class="btn btn-light btn-block" routerLink="/kardex">Kardex</button>
        </li>
      </ul>
    </div>
    <div class="col-md-4 shadow p-3 mb-5 bg-white rounded">
      <h4 class="text-center">Reportes</h4>
      <hr>
      <ul class="list-group">
        <li class="list-group-item p-1">
          <button type="button" class="btn btn-light btn-block" routerLink="/lista-compras">Reporte de compras</button>
        </li>
        <li class="list-group-item p-1">
          <button type="button" class="btn btn-light btn-block" routerLink="/lista-ventas">Reporte de ventas</button>
        </li>
      </ul>
    </div>
</div>
