<div class="animate__animated animate__fadeIn animate__delay-0.5s">
  <div class="row">
    <div class="col-md-10">
      <h1>DATOS DE LA EMPRESA</h1>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8 offset-2 mt-4">
      <form>
        <div class="mb-3">
          <label for="empresa" class="form-label">Empresa</label>
          <input type="text" class="form-control" id="empresa">
        </div>
        <div class="mb-3">
          <label for="representante" class="form-label">Representante legal</label>
          <input type="text" class="form-control" id="representante">
        </div>
        <div class="mb-3">
          <label for="ruc" class="form-label">RUC</label>
          <input type="text" class="form-control" id="ruc">
        </div>
        <div class="mb-3">
          <label for="telefono" class="form-label">Teléfono</label>
          <input type="text" class="form-control" id="telefono">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
          <label for="direccion" class="form-label">Dirección</label>
          <input type="text" class="form-control" id="direccion">
        </div>
        <div class="mb-3">
          <label for="web" class="form-label">Web</label>
          <input type="text" class="form-control" id="web">
        </div>
        <div class="mb-3">
          <label for="rubro" class="form-label">Rubro</label>
          <input type="text" class="form-control" id="rubro">
        </div>
        <div class="mb-3">
          <label for="logo" class="form-label">Logo</label>
          <input type="file" class="form-control" id="logo">
        </div>
        <div class="mb-3">
          <label for="pais" class="form-label">País</label>
          <input type="text" class="form-control" id="pais">
        </div>
        <div class="mb-3">
          <label for="provincia" class="form-label">Provincia</label>
          <input type="text" class="form-control" id="provincia">
        </div>
        <div class="mb-3">
          <label for="ciudad" class="form-label">Ciudad</label>
          <input type="text" class="form-control" id="ciudad">
        </div>
        <!-- <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
  </div>
