<div class="animate__animated animate__fadeIn animate__delay-0.5s">
  <div class="row">
    <div class="col-md-10">
      <h1>LISTA DE COMPRAS</h1>
    </div>
    <div class="col-md-2">
      <button (click)="listarCompras()">Mostrar todo</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2">
      TIPO DE BUSQUEDA
    </div>
    <div class="col-md-10">
      <select #mySelect id="" class="form-control" (change)="tipoBusqueda(mySelect.value)">
        <option value="0">-------</option>
        <option value="1">POR PRODUCTO</option>
        <option value="2">POR RANGO DE FECHAS</option>
        <option value="3">POR FECHA UNICA</option>
      </select>
    </div>
  </div>

  <div class="row mt-3" *ngIf="porProducto">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label for="producto">Producto</label>
    </div>
    <div class="col-md-8">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Nombre de producto" id="producto" #prod (keyup.enter)="buscarProducto(prod.value)">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button"><i class="fa fa-search" (click)="buscarProducto(prod.value)"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3" *ngIf="porRango">
    <div class="col-md-2"></div>
    <div class="col-md-1">
      <label for="desde">Desde</label>
    </div>
    <div class="col-md-3">
      <input type="date" class="form-control" id="desde" #fechaI>
    </div>
    <div class="col-md-1">
      <label for="hasta">Hasta</label>
    </div>
    <div class="col-md-3">
      <input type="date" class="form-control" #fechaF id="hasta">
    </div>
    <div class="col-md-2">
      <button (click)="buscarPorRango(fechaI.value, fechaF.value)" class="btn btn-success btn-block">Mostrar compras</button>
    </div>
  </div>

  <div class="row mt-3" *ngIf="porFecha">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label for="">Fecha específica</label>
    </div>
    <div class="col-md-2">
      <input type="date" class="form-control" #fecha >
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-2">
      <button (click)="buscar(fecha.value)" class="btn btn-success btn-block">Mostrar compras</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 table-responsive mt-4" style="height: 50vh !important; overflow: scroll;">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Costo U.</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Sub-total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prod of prodToCompras">
            <th scope="row">{{ prod.compra.fecha_compra }}</th>
            <td>{{ prod.producto.nombre }}</td>
            <td>{{ prod.producto.cantidad }}</td>
            <td>{{ prod.producto.precioCompra }}</td>
            <td>{{ prod.compra.proveedor }}</td>
            <td>{{ prod.subtotal }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="w-100 text-right">
      <h3 class="p-2 mr-5">TOTAL: {{ total }}</h3>
    </div>
  </div>

  <!-- botones -->
  <div class="row mt-4">
    <div class="col-md-2"><button class="btn btn-danger btn-block">Cancelar</button></div>
    <div class="col-md-8"></div>
    <div class="col-md-2"><button class="btn btn-primary btn-block">Imprimir lista</button></div>
  </div>
</div>
