/* You can add global styles to this file, and also import other style files */
/* .container{
    font-size: 11px !important;
    padding: 1px !important;
} */

.cuerpo{
  font-size: 12px !important;
}

body{
    /* background: whitesmoke !important; */
}

table tr td, th{
    padding: 0.5em !important;
}

input{
    padding: 0.3em !important;
    /* text-align: center; */
}

.btn {
  padding: 2px 5px 2px 5px !important;
}
